<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
<link rel="stylesheet" type="text/css" th:href="@{/adminhome.css}">
</head>
<body>

<div>
<h3>ADMIN</h3>
<br/>
<br/>
<br/>
<form action="newsong">
<input type="submit" value="Add Song">
</form>
<br/>
<form action="viewsongs">
<input type="submit" value="View Song">
</form>
<br/>
<form action="createplaylists">
<input type="submit" value="Create Playlist">
</form>
<br/>
<form action="viewplaylist">
<input type="submit" value="View Playlist">
</form>
</div>
</body>
</html>